#nav-overlay-container[data-location="/"],
#nav-overlay-container[data-location^="/gallery/movie"] {
	opacity:0;
	pointer-events:none;
}

#nav-overlay-inner > .header-container,
#nav-overlay-inner > .bottom-nav-container {
	transition:transform 1s;
	background-color:#fff;
	box-sizing:border-box;
}

#nav-overlay-container > #nav-overlay-inner > .header-container {
	padding:0.74em 1em;
}

#nav-overlay-container > #nav-overlay-inner > .bottom-nav-container {
	padding:0.5em 1em;
}

#nav-overlay-container[data-location="/"] > #nav-overlay-inner > .header-container,
#nav-overlay-container[data-location^="/gallery/movie"] > #nav-overlay-inner > .header-container {
	transform:translate(0, -100%);
}

#nav-overlay-inner > .header-container {
	position:absolute;
	left:0;
	top:0;
	width:100%;
}

#nav-overlay-inner > .header-container > .customs-house-logo,
#nav-overlay-inner > .header-container > .location-text {
	flex:1 1 1px;
}

#nav-overlay-inner > .header-container {
	display:flex;
	justify-content:space-between;
}

#nav-overlay-inner > .header-container > .customs-house-logo {
	margin-top:auto;
}

#nav-overlay-inner > .header-container > .customs-house-logo > a {
	display:block;
	height:1.2em;
	width:1.8em;
	background-image:url('../../img/icons/CH_header_logo.png');
	background-position:center bottom;
	background-size:100% auto;
	background-repeat:no-repeat;
}

#nav-overlay-inner > .header-container > .customs-house-text {
	text-align:center;
	color: #10273b;
	font-size:0.28em;
}

#nav-overlay-inner > .header-container > .customs-house-text::before {
	content:'CUSTOMS';
	display:block;
	font-size: 3.5em;
	letter-spacing: 0.15em;
	line-height: 1.2em;
	font-weight:bold;
}

#nav-overlay-inner > .header-container > .customs-house-text::after {
	content:'HOUSE';
	display:block;
	font-family: Knockout;
	font-size:2.25em;
	line-height:1.2em;
	font-weight:bold;
}

#nav-overlay-inner > .header-container > .location-text {
	font-size:0.6em;
	margin-top:auto;
	text-align:right;
	position:relative;
}

#nav-overlay-inner > .header-container > .location-text label {
	position:absolute;
	right:0;
	bottom:0;
	transition:opacity 0.5s, letter-spacing 1s;
}

#nav-overlay-inner > .header-container > .location-text label.ani-text-enter,
#nav-overlay-inner > .header-container > .location-text label.ani-text-exit-active,
#nav-overlay-inner > .header-container > .location-text label.ani-text-exit {
	opacity:0;
	letter-spacing:-0.4em;
}

#nav-overlay-inner > .header-container > .location-text label.ani-text-enter-active,
#nav-overlay-inner > .header-container > .location-text label.ani-text-enter-done {
	opacity:1;
	letter-spacing:inherit;
}

#nav-overlay-inner > .bottom-nav-container {
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
}

#nav-overlay-container[data-location="/"] > #nav-overlay-inner > .bottom-nav-container,
#nav-overlay-container[data-location^="/gallery/movie"] > #nav-overlay-inner > .bottom-nav-container {
	transform:translate(0, 100%);
}

ul#nav-links-list {
	list-style:none;
	margin:0;
	padding:0;
	display:flex;
	justify-content:space-between;
	margin:0 auto 0;
	max-width:60%;
}

ul#nav-links-list > li > a.customs-house-button {
	font-size:0.7em;
	display:block;
}